.register-container {
    background-color     : #f0f2f5;
    height: 100vh;
    padding-top: 30px;
    .brand {
        font-size     : 50px;
    }

    .description {
        font-size       : 24px;
        line-height     : 28px;
    }

    .register-right {
        background-color     : #fff;
        padding              : 15px;
        border-radius        : 10px;
        box-shadow           : 0 0 3px 1px gray;
    }
}